<div id="searchform">
  <h3>Search for a movie:</h3>
  <form action="/search_movies" id="searchform" method="POST">
      <label for="searchtitle">Search by title:</label>
      <input type="text" name="searchtitle" id="searchtitle">
      <br>
      <label for="searchgenre">Search by genre:</label>
      <input type="text" name="searchgenre" id="searchgebre">
      <br>
      <label for="minrelease">Minimum release date:</label>
      <input type="date" name="minrelease" name="minrelease">
      <br>
      <label for="maxrelease">Maximum release date</label>
      <input type="date" name="maxrelease" name="maxrelease">
      <br>
      <input type="submit" value="Filter">
  </form>
</div>